.main{
    font-size: 19px;
    background: #c3feb0;
    font-family: Noto Sans JP;
    text-align: center;
    width: 100%;
    height: 100%;
}

#id1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.container{
    font-size: 19px;
    background: white;
    border-radius: 40px;
    width: 500px;
}

.img{
    width: 185px;
}
.h1-cont{
    width: 136px;
}

.codewars{
    width: 136px;
}

.container1{
    height: 130px;
    align-items: center;
    display: flex;
    justify-content: center;
}
