.main{
    font-size: 19px;
    background: #c3feb0;
    font-family: Noto Sans JP;
    text-align: center;
    width: 100%;
    height: 100%;
}

.id1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.container{
    font-size: 19px;
    background: white;
    border-radius: 40px;
    width: 500px;
}

.img{
    width: 185px;
}
.h1-cont{
    width: 136px;
}

.codewars{
    width: 136px;
}

.container1{
    height: 130px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.my-info{
    padding: 50px;
}
.foto > img{
    height: 200px;
    border-radius: 50px;
}
.id2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #09c065;
}
.footer{
    background-color: #09c065;
}
a{
    text-decoration: none;
    color: black;
}
.con-left{
    text-align: left;
}
